:root {
  --clr-primary-VeryDarkMagenta: hsl(300, 43%, 22%);
  --clr-primary-SoftPink: hsl(333, 80%, 67%);

  --clr-neutral-DarkGrayishMagenta: hsl(303, 10%, 53%);
  --clr-neutral-LightGrayishMagenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  --ff-base: 'League Spartan', sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
}

/* ---------- Reset ---------- */
*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;padding: 0;}
body {line-height: 1.5;-webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block;max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}

/* ---------- Global ---------- */
html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  background-color: var(--white);
  background-image: url(../assets/images/bg-pattern-top-mobile.svg), url(../assets/images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  font-family: var(--ff-base);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2, a {
  color: var(--clr-primary-VeryDarkMagenta);
  font-weight: var(--fw-700);
}

/* ---------- Layout ---------- */
.container {
  width: 87.2%;
  max-width: 69.375rem;
  margin: 5rem 0 4.75rem;
}

/* Intro section */
.container__title, .container__description {
  text-align: center;
  max-width: 45rem;
  margin-inline: auto;
}

.container__title {
  font-size: 2.5rem;
  line-height: .75;
  margin-bottom: 1.5rem;
}

.container__description {
  color: var(--clr-neutral-DarkGrayishMagenta);
  font-size: 1.1094rem;
  margin-bottom: 2.75rem;
}

/* Rate section */
.rate-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-bottom: 3.5rem;
}

.container__rate {
  width: 100%;
  max-width: 27.8125rem;
  height: 5rem;
  background-color: var(--clr-neutral-LightGrayishMagenta);
  border-radius: .75rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.stars-container {
  display: flex;
  gap: .5rem;
}

.rate__text {
  font-size: 1rem;
  text-align: center;
}

/* Cards section */
.cards-section {
  width: 100%;
  max-width: 45.125rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  max-width: 21.875rem;
  background-color: var(--clr-primary-VeryDarkMagenta);
  padding: 2.5rem 2rem;
  border-radius: .75rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__img-name-vb {
  display: flex;
  gap: 1.5rem;
}

.card__img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.card__name, .card__description {
  color: var(--clr-neutral-LightGrayishMagenta);
  font-size: 1rem;
}

.card__verified {
  color: var(--clr-primary-SoftPink);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.attribution a:hover {
  transition: 300ms;
  opacity: .7;
}

/* ---------- Responsiveness ---------- */

/* Tablet */
@media (min-width: 48rem) {
  body {
    background-image: url(../assets/images/bg-pattern-top-desktop.svg), url(../assets/images/bg-pattern-bottom-desktop.svg);
  }

  .container__title {
    font-size: 3.25rem;
  }
}

/* Desktop */
@media (min-width: 79.5625rem) {
  .container__title, .container__description {
    max-width: 25.625rem;
    text-align: left;
    margin-inline: unset;
  }

  .container__description {
    margin-bottom: 4.6875rem;
  }

  .rate-section {
    margin: .5rem 0 0;
    justify-content: start;
  }

  .container__rate {
    height: 3.5rem;
    padding-left: 2rem;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
  }

  .container__rate:first-of-type {
    margin: 0;
  }

  .container__rate:last-of-type {
    margin: 0 0 0 auto;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cards-section {
    max-width: unset;
    height: 16.625rem;
    grid-column: span 2;
    gap: 1.875rem;
  }

  .card {
    height: 14.625rem;
  }

  .card:nth-of-type(2) {
    align-self: center;
  }

  .card:last-of-type {
    align-self: flex-end;
  }
}

/*
Media query needed to center the container, this way the screenshot on Frontend Mentor
makes it look as similar as the comparative one.
*/
@media (min-width: 78.4375rem) and (min-height: 40rem) {
  .container {
    margin: 0;
  }
}